body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}
.half-width{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
}
.header-left{
    padding-right: 100px;
}
.header-right img{
    width: 70%;
}
.text-center{
    text-align: center;
}
.img-part img{
    width: 100%;
}
.text-part{
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
}
.each-div{
    margin-right: 20px;
    margin-bottom: 50px;
}